@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Database Deployment Sample App</h1>
    <p>>Updated Expenses Table with Vendor Name</p>
</div>
